

#header-home-blog{
	font-size: 50px; 
	color: #111;
	font-family: 'Satisfy', cursive;
	font-weight: 700;
	margin-bottom: 70px;
}

.header-post {
	font-family: 'Satisfy', cursive;
	font-size: 30px; 
	color: #111;
	font-weight: 700;
}
.btn-baca {
	background-color: #1A69B8 !important;
	color: #FFFF;
}
.btn-baca:hover {
	background-color: #A7E718 !important;
	color: #FFFF;
}

.green{
	/*hijau*/
	color: #A7E718;
}

.blue{
	/*biru*/
	color: #1A69B8;
}

.img-post-size{
	height: 300px;
	width: 700px;
	overflow: hidden;
	display: block;
}
.team-padding{
	padding: 15px;
}

#header-art {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header-art #logo {
  float: left;
}

#header-art #logo h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  letter-spacing: 3px;
/*  text-transform: uppercase;*/
}

#header-art #logo h1 a, #header-art #logo h1 a:hover {
  color: #fff;
}

#header-art #logo img {
  padding: 0 10px 0  0;
  margin: 0;
}

@media (max-width: 768px) {
  #header-art #logo h1 {
    font-size: 26px;
  }
  #header-art #logo img {
    max-height: 40px;
  }
}

#header-art.header-fixed {
  background: black;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}